
body{
   background-color: rgb(255, 255, 255);
   margin: 0;
}
ol{
    list-style-type: none;
    padding: 0%;
}
li{
    margin-right: 20px;
}
.green{
    color:rgba(2, 178, 5, 0.745);
}
.red,h3{
    color:red;
}
h3{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:25px;
}
p,li{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:rgb(0, 0, 0);
}
section,footer{
    padding-left: 10px;
}
footer{
    border-top: 2px solid white;
    margin-top: 20px;
    background-color: black;
    height:33vh;
}
footer p{
    color:rgb(0, 225, 255);
    font-weight:bold;
    font-size: larger;
}
footer ol{
    display:flex;
    flex-direction: column;
    list-style: none;
}
footer li{
    margin-bottom: 10px;
}
footer a{
    text-decoration: none;
    color:rgb(255, 255, 255);
    
}
footer a:hover{
    color:aqua;
}
h3,button{
    margin-left:10px;
}
button{
    color:aqua;
    background-color: black;
    padding:10px 20px;
    font-family:cursive;
    border-radius:25px ;
}
p img{
    width:10vw;
    height:10vh;
}
li img{
    width:8vw;
    height:5vh;
}
@media screen and (max-width:500px){
    section ol{
    list-style-type: none;
    display:flex;
    flex-direction: column;
    padding: 0%;
    }
    p img{
    width:28vw;
    height:16vh;
}
li img{
    width:18vw;
    height:5vh;
}
    footer{
        height:37vh;
    }
}
@media screen and (max-width:900px) and (min-width:501px){
    p img{
    width:20vw;
    height:10vh;
}
    li img{
    width:18vw;
    height:5vh;
}
}